@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CategoryModel
@{
    ViewData["title"] = "Tạo danh mục sản phẩm mới";
}
<div class="col-sm-12 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-0"><strong>@ViewData["title"]</strong></h5>
    <span class="text-secondary">Prodcuts Manager <i class="fa fa-angle-right"></i> Categories <i class="fa fa-angle-right"></i> Create</span>
    <form class="mt-2" asp-controller="Category" asp-action="Create">
        
        <div class="form-group row">
            <label class="control-label col-sm-2">Category Name</label>
            <div class="col-sm-6">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Category Parent</label>
            <div class="col-sm-6">
                <select class="form-control" asp-for="ParentCategoryId" asp-items="ViewBag.Categories">
                    <option value="">Choose ...</option>
                </select>
                <span asp-validation-for="ParentCategory" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Desciption</label>
            <div class="col-sm-6">
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="ParentCategory" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-action="Index" asp-controller="Category" class="mr-1">
                <button type="button" class="btn btn-secondary btn-round">Cancel</button>
            </a>
            <button type="submit" class="btn btn-success btn-round">Create</button>
          </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>
}