@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IdentityRole
@{
    ViewData["title"] = "Tạo role mới";
}

<div class="col-sm-12 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-0"><strong>@ViewData["title"]</strong></h5>
    <span class="text-secondary">Account Manager <i class="fa fa-angle-right"></i> Roles <i class="fa fa-angle-right"></i> Create</span>
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <form class="mt-2" asp-controller="Role" asp-action="Create">

        <div class="form-group row">
            <label class="control-label col-sm-2">Role's Name</label>
            <div class="col-sm-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a asp-action="Index" asp-controller="Role" class="mr-1">
                <button type="button" class="btn btn-secondary btn-round">Cancel</button>
            </a>
            <button type="submit" class="btn btn-success btn-round">Create</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}