@{ViewData["title"] = "Thông báo lấy lại mật khẩu.";}
<h1>Thông báo đặt lại mật khẩu</h1>
@if(TempData["error"]!=null)
{
	<p>
		@TempData["error"]
	</p>
}

else
{
	<p>Kiểm tra email để lấy lại mật khẩu</p>
}